.App__container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.App__action_container {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}